/* 기본 css 스타일 (리셋 포함) */
@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

/* 컴포넌트 스타일 - 사용자 정의 클래스 */
/* @tailwind components; */

/* 텍스트, 색상, 마진 등 유틸리티 클래스 */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 다크 모드 적용 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 사용자 정의 클래스 추가 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
